---
name: Test Subscribe RHEL Action

"on":
  push:
    paths:
      - 'ci/cached-builds/**'
      - '.github/actions/install-podman/**'
      - '.github/actions/subscribe-rhel/**'
  pull_request:
    paths:
      - 'ci/cached-builds/**'
      - '.github/actions/install-podman/**'
      - '.github/actions/subscribe-rhel/**'
  workflow_dispatch:

jobs:
  test-subscription:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      # In real usage this is the LVM volume over / and /mnt
      - name: Create storage directory
        run: mkdir -p ${HOME}/.local/share/containers/storage

      - name: Install podman
        uses: ./.github/actions/install-podman
        with:
          platform: "linux/amd64"
        env:
          TMPDIR: ${HOME}/.tmp

      - name: Subscribe RHEL
        uses: ./.github/actions/subscribe-rhel
        env:
          SUBSCRIPTION_ORG: ${{ secrets.SUBSCRIPTION_ORG }}
          SUBSCRIPTION_ACTIVATION_KEY: ${{ secrets.SUBSCRIPTION_ACTIVATION_KEY }}
        with:
          platform: "linux/amd64"
          subscription_org: ${{ secrets.SUBSCRIPTION_ORG }}
          subscription_activation_key: ${{ secrets.SUBSCRIPTION_ACTIVATION_KEY }}
